body {
  margin: 0;
}

.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  position: relative;
  width: 100%;
  height: 240px;
  z-index: 100;
}

.cloud-banner {
  position: relative;
  top: 0;
  left: -.5px;
  width: 100.1%;
  height: inherit;
  background-image: url('/cloud-banner-8.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.cloud-banner-logo {
  position: relative;
  left: 13.85%;
  top: 4%;
  width: 10%;
  min-width: 20px;
  max-width: 200px;
  height: auto;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #ff6886 0%, #ff3460 100%);
}

.hero-cloud-footer {
  position: absolute;
  bottom: 0;
  left: -.5px;
  width: 100.1%;
  height: auto;
  z-index: 100;
}

.content-section {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: white;
  margin-top: 100vh;
}

@media screen and (max-width: 767px) {
  .cloud-banner-logo {
    left: 14.15%;
    top: 4.3%;
    width: 9.5%;
  }
}

@media screen and (max-width: 479px) {
  .cloud-banner-logo {
    left: 14.2%;
    top: 3.9%;
    width: 9%;
  }
}